<div class="full-height-layout bump-layout">
    <div id="container">
        <div class="flex-container">
            <div class="d-flex align-items-center justify-content-center w-100">
                <div class="flex-inner">
                    <div class="box1 order-box">
                        <div class="box-header">
                            <div class="row align-items-center">
                                <div class="col-sm-10 col-9">
                                    <h1>BUMP – in kitchen MAH00634</h1>
                                </div>
                                <div class="col-sm-2 col-3 text-right">
                                    <a href="#" class="close-btn"><img src="assets/images/close-icon.png"
                                            alt="close-btn"></a>
                                </div>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-lg-7 col-md-7 col-sm-8 m-auto text-center">
                                    <a href="#" class="button3">
                                        <i class="icon"><img src="assets/images/delivery-box.png"
                                                alt="delivery-box"></i>
                                        <span>Print Invoice & Ready for Pick Up</span>
                                    </a>
                                </div>
                            </div>
                            <div class="tag">
                                <div class="row">
                                    <div class="col-lg-7 col-md-9 m-auto">
                                        <h4 class="text-center">Select Cooking Time to Update</h4>
                                        <ul class="list-unstyled tag-list">
                                            <li>
                                                <a href="#"><span>05 mins</span></a>
                                            </li>
                                            <li>
                                                <a href="#"><span>10 mins</span></a>
                                            </li>
                                            <li>
                                                <a href="#"><span>15 mins</span></a>
                                            </li>
                                            <li>
                                                <a href="#"><span>20 mins</span></a>
                                            </li>
                                            <li>
                                                <a href="#"><span>25 mins</span></a>
                                            </li>
                                            <li>
                                                <a href="#"><span>30 mins</span></a>
                                            </li>
                                            <li>
                                                <a href="#"><span>45 mins</span></a>
                                            </li>
                                            <li>
                                                <a href="#"><span>No Time</span></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                            <div class="status">
                                <h3 class="text-center">Change Status</h3>

                                <div class="row">
                                    <div class="col-lg-4 col-md-6 col-sm-8 mb-3 ml-auto mr-auto">
                                        <a href="#" class="button3 button3-light">
                                            <i class="icon"><img src="assets/images/choice-icon.png"
                                                    alt="choice-icon"></i>
                                            <span>Print invoice</span>
                                        </a>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-8 mb-3 ml-auto mr-auto">
                                        <a href="#" class="button3 button3-warning">
                                            <i class="icon"><img src="assets/images/pot-icon.png" alt="pot-icon"></i>
                                            <span>Print invoice</span>
                                        </a>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-8 mb-3 ml-auto mr-auto">
                                        <a href="#" class="button3 button3-danger">
                                            <i class="icon"><img src="assets/images/tray.png" alt="tray"></i>
                                            <span>Ready for Pickup</span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>