app-control-messages{
    color: red;
}
.autofill-txtbox{
    width: 500px;
}
.my-pagination /deep/ .ngx-pagination .current {
    background: purple;

  }
  .lebelstyl{
      font-weight:500;
      font-size: 18px;
      margin-left: 10px;
      margin-right:10px;
  }
  .tablenum{
      font-size: 11px!important;
      padding-right: 10px!important;
      padding-left: 10px!important;
      color: #ffffff!important;
  }
  @media screen and (max-width: 992px){
   
    .styleMob{
        padding-left: 152px;
    }
}
