
<script>
    function printDiv() {
        var divContents = document.getElementById("GFG").innerHTML;
        var a = window.open('', '', 'height=500, width=500');
        a.document.write('<html>');
        a.document.write('<body > <h1>Div contents are <br>');
        a.document.write(divContents);
        a.document.write('</body></html>');
        a.document.close();
        a.print();
    }
</script>
<div class="bump-layout">
        <div id="container" class="order-confirmation">
            <div class="flex-container">
                <div class="d-flex align-items-center justify-content-center w-100">
                    <div class="flex-inner">
                        <div class="box1 order-box">
                            <div class="box-header hide-tab" >
                                <div class="row align-items-center ">
                                    <div class="col-sm-10 col-9">
                                        <h1>{{langindex==0?'Order Details':'تفاصيل الطلب'}} ({{this.order_id}})</h1>
                                    </div>
                                    <div class="col-sm-2 col-3 text-right hide-tab">
    
                                             <a routerLink="/pending-orders" class="close-btn" *ngIf="redirectoPage=='porders'"><img src="assets/images/close-icon.png"
                                                alt="close-btn"></a>
                                             <a routerLink="/confirmed-orders" class="close-btn" *ngIf="redirectoPage=='corders'"><img src="assets/images/close-icon.png"
                                                    alt="close-btn"></a>
    
                                             <a routerLink="/in-kitchen" class="close-btn" *ngIf="redirectoPage=='inkitchen'"><img src="assets/images/close-icon.png"
                                                    alt="close-btn"></a>
                                             <a routerLink="/order-ready-for-pickup" class="close-btn" *ngIf="redirectoPage=='rdyPickup'"><img src="assets/images/close-icon.png"
                                                        alt="close-btn"></a>
                                             <a routerLink="/order-delivered" class="close-btn" *ngIf="redirectoPage=='order_delivered'"><img src="assets/images/close-icon.png"
                                                            alt="close-btn"></a>
    
                                                        
                                                    
                                        <!-- <a routerLink="/pending-orders" class="close-btn"><img src="assets/images/close-icon.png"
                                                alt="close-btn"></a> -->
                                    </div>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="steps-wrapper hide-tab" *ngIf="order_status== 1">
                                    <ul class="list-unstyled step-list">
                                        <li class="tracked">
                                            <span>{{langindex==0?'Pending':'معلق'}}<br>
                                            </span>
                                        </li>
                                        <li>
                                            <span>{{langindex==0?'Confirmed':'مؤكد'}}</span>
                                        </li>
                                        <li>
                                            <span>{{langindex==0?'In kitchen':'في المطبخ'}}</span>
                                        </li>
                                        <li>
                                            <span>{{langindex==0?'Ready':'جاهز'}}</span>
                                        </li>
                                        <li>
                                            <span>{{langindex==0?'Delivered':'تم التسليم'}}</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="steps-wrapper hide-tab" *ngIf="order_status== 2"> 
                                    <ul class="list-unstyled step-list">
                                        <li class="tracked">
                                            <span>{{langindex==0?'Pending':'معلق'}}<br>
                                            </span>
                                        </li>
                                        <li  class="tracked">
                                            <span>{{langindex==0?'Confirmed':'مؤكد'}}</span>
                                        </li>
                                        <li>
                                            <span>{{langindex==0?'In kitchen':'في المطبخ'}}</span>
                                        </li>
                                        <li>
                                            <span>{{langindex==0?'Ready':'جاهز'}}</span>
                                        </li>
                                        <li>
                                            <span>{{langindex==0?'Delivered':'تم التسليم'}}</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="steps-wrapper hide-tab" *ngIf="order_status== 3">
                                    <ul class="list-unstyled step-list">
                                        <li class="tracked">
                                            <span>{{langindex==0?'Pending':'معلق'}}<br>
                                            </span>
                                        </li>
                                        <li  class="tracked">
                                            <span>{{langindex==0?'Confirmed':'مؤكد'}}</span>
                                        </li>
                                        <li  class="tracked">
                                            <span>{{langindex==0?'In kitchen':'في المطبخ'}}</span>
                                        </li>
                                        <li>
                                            <span>{{langindex==0?'Ready':'جاهز'}}</span>
                                        </li>
                                        <li>
                                            <span>{{langindex==0?'Delivered':'تم التسليم'}}</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="steps-wrapper hide-tab" *ngIf="order_status== 4">
                                    <ul class="list-unstyled step-list">
                                        <li class="tracked">
                                            <span>{{langindex==0?'Pending':'معلق'}}<br>
                                            </span>
                                        </li>
                                        <li  class="tracked">
                                            <span>{{langindex==0?'Confirmed':'مؤكد'}}</span>
                                        </li>
                                        <li   class="tracked">
                                            <span>{{langindex==0?'In kitchen':'في المطبخ'}}</span>
                                        </li>
                                        <li  class="tracked">
                                            <span>{{langindex==0?'Ready':'جاهز'}}</span>
                                        </li>
                                        <li>
                                            <span>{{langindex==0?'Delivered':'تم التسليم'}}</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="steps-wrapper hide-tab" *ngIf="order_status== 5">
                                    <ul class="list-unstyled step-list">
                                        <li class="tracked">
                                            <span>{{langindex==0?'Pending':'معلق'}}<br>
                                            </span>
                                        </li>
                                        <li  class="tracked">
                                            <span>{{langindex==0?'Confirmed':'مؤكد'}}</span>
                                        </li >
                                        <li  class="tracked"> 
                                            <span>{{langindex==0?'In kitchen':'في المطبخ'}}</span>
                                        </li>
                                        <li  class="tracked">
                                            <span>{{langindex==0?'Ready':'جاهز'}}</span>
                                        </li>
                                        <li class="tracked">
                                            <span>{{langindex==0?'Delivered':'تم التسليم'}}</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="info-box">
                                    <header class="info-header">
                                        <div class="row align-items-center">
                                            <div class="col-sm-10 mb-3">
                                                <h3 class="mb-0">{{langindex==0?'Order information':'معلومات الطلب'}}</h3>
                                            </div>
                                            <div class="col-sm-2 text-sm-right mb-3 hide-tab">
                                                <a class="button3 lt-pointer mg-3 bg-imp" (click)="doBump()" *ngIf="order_status != 5 && order_status != 3 && order_status != 2">
    
                                                    <span *ngIf="langindex==0"><img src="assets/images/bumb-cons.png"
                                                        alt=""></span>
                                                        <span *ngIf="langindex==1"><img src="assets/images/Arbicbumb.png"
                                                            alt=""></span>
                                                </a>
                                                <a class="button3 lt-pointer mg-3" (click)="doPrint()">
                                                    <span  class="ng-hide" >{{langindex==0?'Print':'طباعة'}}</span>
    
                                                </a>
                                            </div>
                                        </div>
                                    </header>
                                    <div class="info-body">
                                        <div class="row">
                                            <div class="col-sm-6 mb-2">
                                                <h6>{{langindex==0?'Order ID':'رقم الطلب'}}</h6>
                                                <p>{{this.order_id}}</p>
                                            </div>
                                            <div class="col-sm-6 mb-2">
                                                <h6>{{langindex==0?'Order date':'تاريخ الطلب'}}</h6>
                                                <p>{{OrderViewList?.created_at | date:"MMMM d h:mm a"}}</p>
                                            </div>
                                            <div class="col-sm-6 mb-2">
                                                <h6>{{langindex==0?'Payment type':'طريقة الدفع'}}</h6>
                                                <p>{{ OrderViewList?.payment_mode }}</p>
                                            </div>
                                            <div class="col-sm-6 mb-2">
                                                <h6>{{langindex==0?'Order status':'حالة الطلب'}}</h6>
                                                <p *ngIf="order_status==1">{{langindex==0?'Order Pending':'الطلب معلق'}}</p>
                                                <p *ngIf="order_status==2">{{langindex==0?'Confirmed':'مؤكد'}}</p>
                                                <p *ngIf="order_status==3">{{langindex==0?'In kitchen':'في المطبخ'}}</p>
                                                <p *ngIf="order_status==4">{{langindex==0?'Ready for pickup':'جاهز للإستلام'}}</p>
                                                <p *ngIf="order_status==5">{{langindex==0?'Delivered':'تم التسليم'}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
    
                                <div class="info-box">
                                    <header class="info-header">
                                        <div class="row align-items-center">
                                            <div class="col-sm-10 col-9 mb-3 hide-tab">
                                                <h3 class="mb-0">{{langindex==0?'Customer information':'معلومات الزبون'}}</h3>
                                            </div>
                                        </div>
                                    </header>
                                    <div class="info-body">
                                        <div class="row">
                                            <div class="col-sm-6 mb-2">
                                                <h6>{{langindex==0?'Name':'الاسم'}}</h6>
                                               
                                                <p  *ngIf="OrderViewList?.customer[0].name as value; else elseBlock"> {{value}}</p>
                                                <ng-template #elseBlock><p>N/A</p></ng-template>
                                            </div>
                                            <div class="col-sm-6 mb-2">
                                                <h6>{{langindex==0?'Phone':'رقم الجوال'}}</h6>
                                                <!-- <p>{{ OrderViewList?.customer[0].phone_number }}</p> -->
                                                <p  *ngIf="OrderViewList?.customer[0].phone_number as value; else elseBlock"> {{value}}</p>
                                                <ng-template #elseBlock><p>N/A</p></ng-template>
                                            </div>
                                            <div class="col-sm-6 mb-2">
                                                <h6>{{langindex==0?'Email':'البريد الإلكتروني'}}</h6>
                                                <!-- <p>{{ OrderViewList?.customer[0].email }}</p> -->
                                                <p  *ngIf="OrderViewList?.customer[0].email as value; else elseBlock"> {{value}}</p>
                                                <ng-template #elseBlock><p>N/A</p></ng-template>
                                            </div>
                                            <!-- <div class="col-sm-6 mb-2">
                                                <h6>Billing name</h6>
                                                <p>{{ OrderViewList?.customer[0].name }}</p>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
    
                                <div class="info-box">
                                    <header class="info-header ">
                                        <div class="row align-items-center mb-0">
                                            <div class="col-sm-10 col-9 mb-3">
                                                <h3 class="mb-0">{{langindex==0?'Deatils':'التفاصيل'}}</h3>
     
                                            </div>
                                        </div>
                                    </header>
                                 <div class="info-body" id="prntPreview">
                                        <div class="table-responsive">
                                            <table class="table">
                                                
                                                    <tr>
                                                        <th>{{langindex==0?'Item':'الوصف'}}</th>
                                                        <th>{{langindex==0?'Quantity':'الكمية'}}</th>
                                                        <th>{{langindex==0?'Price':'السعر'}}</th>
                                                        <th>{{langindex==0?'Total price':'المجموع'}}</th>
                                                    </tr>
                                                    <tbody *ngFor="let index of OrderViewList.order_item;  index as i">
                                                        <tr>
                                                                <td  class="txt-bold-mainitem"> 
                                                                        {{index.menu_items.lang[langindex].name}}
                                                                </td>
                                                                <td>
                                                                        {{index.item_count}}
                                                                </td>
                                                                <td>
                                                                    SAR    {{index.item_price}}
                                                                </td>
                                                                <td class="text-right">
                                                                    SAR    {{index.grant_total}}
                                                                </td>
                                                        </tr>
                                                        <tr *ngIf="index.order_item_addon.length>0" class="tr-nobg">
                                                                <td colspan="4" class="p-0">
                                                                        <span class="td-addon">{{langindex==0?'Addons':'الإضافات'}}</span>
                                                                </td>
                                                        </tr>
                                                        <tr *ngIf="index.order_item_addon.length>0">
                                                                
                                                               
                                                                <td colspan="4" class="p-0">
                                                                        <table class="inner-table">
                                                                           
                                                                            <tr *ngFor="let innerIndx of index.order_item_addon;  innerIndx as is">
                                                                                <td>
                                                                                        {{innerIndx.resturant_addons.lang[langindex].name}}
                                                                                </td>
                                                                                <td>
                                                                                        {{innerIndx.item_count}}
                                                                                </td>
                                                                                <td>
                                                                                    SAR  {{innerIndx.item_price}}
                                                                                </td>
                                                                                <td class="text-right">
                                                                                    SAR    {{innerIndx.grant_total}}
                                                                                </td>
                                                                            </tr>
                                                
                                                                        </table>
                                                                    </td>
                                                        </tr>
                                                    </tbody>
                                                    
                                  
                                                    <tr class="total">
                                                        <td colspan="4" class="text-right">
                                                                <p>{{langindex==0?'Total amount':'المجموع النهائي '}} <label class="amountCls">({{langindex==0?'VAT Inclusive':'متضمن للضريبة'}})</label><span>SAR {{OrderViewList?.grand_total}}</span></p> 
                                                        </td>
                                                    </tr>
                                                
                                            </table>
                                        </div>
                                    </div>
                                </div>
    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    