.lt-mh-header-width{
    flex: 0 0 78.333% !important;
    max-width: 74.333% !important;
}

/* .lt-mh-header-logo{
    flex: 0 0 25% !important;
    max-width: 10% !important;
} */




/* .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: relative;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  } */