/* ==========================================================================
Global Settings
========================================================================== */
@font-face { font-family: 'Muli'; src: url('../fonts/Muli-LightItalic.eot'); src: url('../fonts/Muli-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Muli-LightItalic.woff2') format('woff2'),
    url('../fonts/Muli-LightItalic.woff') format('woff'),
    url('../fonts/Muli-LightItalic.ttf') format('truetype'),
    url('../fonts/Muli-LightItalic.svg#Muli-LightItalic') format('svg'); font-weight: 300; font-style: italic; font-display: swap; } 
    
    @font-face { font-family: 'Muli'; src: url('../fonts/Muli-SemiBold.eot'); src: url('../fonts/Muli-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Muli-SemiBold.woff2') format('woff2'),
    url('../fonts/Muli-SemiBold.woff') format('woff'),
    url('../fonts/Muli-SemiBold.ttf') format('truetype'),
    url('../fonts/Muli-SemiBold.svg#Muli-SemiBold') format('svg'); font-weight: 600; font-style: normal; font-display: swap; } 
    
    @font-face { font-family: 'Muli'; src: url('../fonts/Muli-Italic.eot'); src: url('../fonts/Muli-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Muli-Italic.woff2') format('woff2'),
    url('../fonts/Muli-Italic.woff') format('woff'),
    url('../fonts/Muli-Italic.ttf') format('truetype'),
    url('../fonts/Muli-Italic.svg#Muli-Italic') format('svg'); font-weight: normal; font-style: italic; font-display: swap; } 
    
    @font-face { font-family: 'Muli'; src: url('../fonts/Muli-Semi-BoldItalic.eot'); src: url('../fonts/Muli-Semi-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Muli-Semi-BoldItalic.woff2') format('woff2'),
    url('../fonts/Muli-Semi-BoldItalic.woff') format('woff'),
    url('../fonts/Muli-Semi-BoldItalic.ttf') format('truetype'),
    url('../fonts/Muli-Semi-BoldItalic.svg#Muli-Semi-BoldItalic') format('svg'); font-weight: bold; font-style: italic; font-display: swap; } 
    
    @font-face { font-family: 'Muli'; src: url('../fonts/Muli-Light.eot'); src: url('../fonts/Muli-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Muli-Light.woff2') format('woff2'),
    url('../fonts/Muli-Light.woff') format('woff'),
    url('../fonts/Muli-Light.ttf') format('truetype'),
    url('../fonts/Muli-Light.svg#Muli-Light') format('svg'); font-weight: 300; font-style: normal; font-display: swap; } 
    
    @font-face { font-family: 'Muli'; src: url('Muli.eot'); src: url('Muli.eot?#iefix') format('embedded-opentype'),
    url('Muli.woff2') format('woff2'),
    url('Muli.woff') format('woff'),
    url('Muli.ttf') format('truetype'),
    url('Muli.svg#Muli') format('svg'); font-weight: normal; font-style: normal; font-display: swap; } 
    
    
    /*
    * Remove text-shadow in selection highlight.
    */
    ::-moz-selection { background: #b3d4fc; text-shadow: none; } 
    ::selection { background: #b3d4fc; text-shadow: none; } 
    
    /*
    * Body settings, change it as required
    */
    body { font-size: 1em; line-height: 1.2; color: #3f4040; font-family: 'Muli' ,Arial, 'Helvetica Neue', Helvetica, sans-serif; } 
    h1, h2, h3, h4, h5, h6 { font-weight: bold; text-rendering: optimizeLegibility; margin-top: 0px; } 
    p { font-weight: normal; margin-top: 0px; } 
    
    
    /*
    * Links
    */
    a, a:hover { text-decoration: none; transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s; -webkit-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s; -moz-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s; -o-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s; -ms-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s; } 
    
    /*
    * A better looking default horizontal rule
    */
    hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; } 
    
    /*
    * Remove the gap between images and the bottom of their containers.
    */
    img { vertical-align: middle; max-width: 100%; height: auto; -ms-interpolation-mode: bicubic;float: left; } 
    
    /*
    * Allow only vertical resizing of textareas.
    */
    textarea { resize: vertical; } 
    
    /*
    * Other
    */
    *:focus { outline: none !important; } 
    
    /* ==========================================================================
    Helper classes
    ========================================================================== */
    
    img.alignleft { float: right; margin: 0 0 10px 10px; display: block; } 
    img.alignright { float: left; margin: 0 10px 10px 0px; display: block; } 
    img.aligncenter { display: block; margin-right: auto; margin-left: auto; margin-bottom: 10px; } 
    .hidden { display: none !important; visibility: hidden; } 
    .invisible { visibility: hidden; } 
    .clear { clear: both; height: 1px; line-height: 1px; } 
    
    /*
    * Other
    */
    
    
    /* ==========================================================================
    Layout
    ========================================================================== */
    #footer { } 
    
    
    #sidebar { background-color: #ffffff; border-top-left-radius: 50px; border-bottom-left-radius: 50px; } 
    
    .full-height-layout,
    .full-height-layout body , .full-height-layout body #container { height: 100%; } 
    
    .full-height-layout #container { z-index: 1; background: url(../images/body-bg.png); background-repeat:no-repeat; background-size:cover; background-position:center center; position: relative; } 
    .full-height-layout #container:before { z-index: -1; content:""; position:absolute; top:0; right:0px; width: 100%; height: 100%; background-color: rgba(49 ,27, 65 ,.7); } 
    
    .flex-container { height: 100%; min-height: 100%; display: flex; flex-direction: row; } 
    .flex-container .box { padding: 20px; display: flex; flex-direction: column; } 
    .flex-container .box-2 { flex: 1; } 
    
    @media screen and (max-width:575px){
    .flex-container { height: auto; min-height: auto; display: block; } 
    .flex-container .box { padding: 20px; display: block; } 
    }
    #sidebar { min-width: 701px; } 
    .sidebar-wrapper { display: flex; flex-wrap: wrap; flex-direction: column; align-items: center; justify-content: space-between; height: 100%; padding-top: 140px; } 
    .sidebar-wrapper p { color: #311b41; font-size: 10px; font-weight: 600; font-style: normal; letter-spacing: normal; line-height: 18px; text-align: center; text-transform: uppercase; } 
    
    @media screen and (max-width:1400px){
    #sidebar { min-width: 450px; } 
    .sidebar-wrapper .logo img { max-height: 150px; } 
    .sidebar-wrapper .image img { max-height: 300px; } 
    }
    @media screen and (max-width:1199px){
    .sidebar-wrapper { padding-top: 70px; } 
    .sidebar-wrapper .image img { max-height: 200px; } 
    }
    @media screen and (max-width:992px){
    #sidebar { min-width: 300px; } 
    .sidebar-wrapper .logo img { max-height: 100px; } 
    .sidebar-wrapper .image img { max-height: 200px; } 
    }
    @media screen and (max-width:767px){
    #sidebar { min-width: 230px; } 
    .sidebar-wrapper { padding-top: 0px; } 
    }
    @media screen and (max-width:575px){
    .logo-wrapper { background: #ffffff; margin-top: -20px; margin-right: -20px; margin-left: -20px; text-align: center; padding: 10px 20px; margin-bottom: 20px; } 
    .logo-wrapper .logo img { max-height: 100px; } 
    }
    /* form */
    .form-wrapper { display: flex; align-items: center; height: 100%; justify-content: center; } 
    .form .title { margin-bottom: 30px; } 
    .form .title h1 { color: #ffffff; font-size: 27px; font-weight: 400; font-weight: normal; font-style: normal; letter-spacing: normal; line-height: 50px; text-transform: uppercase; } 
    .form p { color: #ffffff; font-size: 24px; } 
    .form p a { color: #f78e68; } 
    .form-wrapper .form { max-width: 611px; width: 100%; } 
    .form-wrapper .form label { color: hsl(0, 0%, 100%); font-size: 20px; font-weight: 300; font-style: normal; letter-spacing: normal; line-height: normal;float: right;margin-right: 10px;margin-top: 20px; } 
    .form-wrapper .form .form-control { border-radius: 35px; height: 69px; border: 1px solid #311b41; background-color: #ffffff; color: #b2b2b2; font-size: 20px; font-weight: 300; padding: 15px 32px 18px 32px; } 
    .form-wrapper .form .form-group { margin-bottom: 32px; } 
    .form-wrapper .form .link { color: #f78e68; font-size: 20px; font-weight: 300; font-style: normal; letter-spacing: normal; line-height: normal; display: inline-block; margin-top: 36px; float: right;margin-bottom: 5px;} 
    .button { text-align: center; background-color: #f78e68; border-radius: 35px; color: #ffffff; font-size: 24px; font-weight: 300; font-style: normal; letter-spacing: normal; line-height: normal; width: 100%; text-transform: uppercase; display: inline-block; border: none; padding: 20px 15px; } 
    .button2 { text-align: center; background-color: #616678; border-radius: 35px; color: #ffffff; font-size: 24px; font-weight: 300; font-style: normal; letter-spacing: normal; line-height: normal; width: 100%; text-transform: uppercase; display: inline-block; border: none; padding: 20px 15px; } 
    .button-secondary { background-color: #311b41; } 
    
    @media screen and (max-width:992px){
    .button2 { padding: 16px 15px; font-size: 16px; } 
    }
    @media screen and (max-width:992px){
    .form-wrapper .form label { font-size: 16px; } 
    .form-wrapper .form .form-control { height: 50px; font-size: 16px; padding: 10px 20px; } 
    .form-wrapper .form .button { padding: 16px 15px; font-size: 16px; } 
    .form-wrapper .form .form-group { margin-bottom: 20px; } 
    }
    @media screen and (max-width:767px){
    .form .title h1 { font-size: 22px; } 
    .form p { font-size: 18px; } 
    }
    /* ==========================================================================
    Common Functionalities & UI Elements
    ========================================================================== */
    #header { padding-top: 30px; padding-bottom: 30px; } 
    #header .container-fluid { padding-right: 60px; padding-left: 60px; } 
    
    #footer { padding-top: 35px; padding-bottom: 35px; } 
    #footer .container-fluid { padding-right: 60px; padding-left: 60px; } 
    .sociable { } 
    .sociable li { display: inline-block; font-size: 18px; margin-left:24px; } 
    .sociable li a { color: #311b41; } 
    
    #footer p { color: #311b41; font-size: 11px; font-weight: 600; line-height: 18px; text-transform: uppercase; margin-bottom: 16px; } 
    @media screen and (max-width: 1600px){
    #footer .container-fluid { padding-right: 15px; padding-left: 15px; } 
    #header .container-fluid { padding-right: 15px; padding-left: 15px; } 
    }
    /* main-navigation */
    #main-navigation { position: relative; } 
    #main-navigation ul { position: relative; display: flex; align-items: center; justify-content: space-between; margin-bottom: 0px; } 
    #main-navigation ul li { display: inline-block; font-size: 20px; font-weight: 700; } 
    #main-navigation ul li a { color: #311b41; padding: 7px 35px 14px 35px; border-radius: 25px; } 
    #main-navigation ul li.active a , #main-navigation ul li a:hover { color: #560070; border-radius: 25px; background-color: #41184d; color: #ffffff;; } 
    #main-navigation ul li .button:hover { color: #ffffff; } 
    
    #main-navigation ul li a.bordered-button { border: 2px solid #311b41; font-size: 13px; font-weight: 700; padding: 8px 20px 10px 20px !important; } 
    
    .menu-btn { display: none; padding: 0px; border: 0; background: none; position: absolute; left: 15px; top: -18px; } 
    .menu-btn span.line { display: block; height: 5px; width: 33px; position: relative; margin: 6px 0; background: #4e2f20; transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s; -webkit-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s; -moz-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s; -o-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s; -ms-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s; } 
    .menu-btn span:first-child { transition: -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1) 0s; transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1) 0s; transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1) 0s, -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1) 0s; } 
    .menu-btn span:last-child { transition: -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1) 0s; transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1) 0s; transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1) 0s, -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1) 0s; } 
    .menu-btn:focus { outline: none; } 
    .menu-btn.active { z-index: 1000; top: 0px; left: 40px; } 
    .menu-btn.active span:first-child { right: 0; top: 0px; -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); } 
    .menu-btn.active span:last-child { right: 1px; bottom: 22px; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); } 
    .menu-btn.active span:nth-child(2) { opacity: 0; } 
    .menu-btn.active span.line { background: #ffffff; } 
    
    @media screen and (max-width: 992px){
    .menu-btn { display: inline-block; vertical-align: bottom; } 
    }
    
    
    @media screen and (max-width: 1600px){
    #main-navigation ul li { font-size: 18px; padding-left: 5px; padding-right: 5px; } 
    }
    
    @media screen and (max-width: 992px){
    #main-navigation { padding-top: 104px; text-align: center; width: 100%; height: 100vh; position: fixed; right: 0; top: -100vh; z-index: 159; transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s; -webkit-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s; -moz-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s; -o-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s; -ms-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s; background:rgba(0, 0, 0, 0.90); margin-right:0; overflow: scroll; } 
    #main-navigation ul { display: none; position: relative; background: transparent; margin-right: 0; padding-right: 20px; padding-left: 20px; } 
    #main-navigation ul li { display: block; text-align: center; display: block; margin-bottom: 15px; font-size: 20px; font-weight: 700; letter-spacing: 2px; line-height: 27px; margin-right: 0px; } 
    #main-navigation ul li a { border: none !important; color: #fff; padding: 19px 15px; display: block; } 
    #main-navigation ul li a:hover { color: #fff; } 
    #main-navigation.open { top: 0px; transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s; -webkit-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s; -moz-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s; -o-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s; -ms-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s; } 
    }
    
    @media screen and (max-width: 992px){
    .menu-btn { top: -51px; } 
    #main-navigation { padding-top: 50px; } 
    .menu-btn.active { top: -45px; } 
    #main-navigation ul li { margin-bottom: 4px; } 
    }
    
    
    /*
    * Typography
    */
    .post dl, .post dt, .post dd, .post ul, .post ol, .post li, .post h1, .post h2, .post h3, .post h4, .post h5, .post h6, .post pre, .post p, .post blockquote, .post th, .post td { margin: 0; padding: 0; font-size: 14px; direction: rtl; } 
    p, .post p { font-size: 20px; line-height: 1.25; margin-bottom: 22px; } 
    .post p.lead { font-size: 17.5px; line-height: 1.6; margin-bottom: 17px; } 
    .post h1, .post h2, .post h3, .post h4, .post h5, .post h6 { font-weight: bold; font-style: normal; color: #222222; text-rendering: optimizeLegibility; line-height: 1.1; margin-bottom: 14px; margin-top: 14px; } 
    .post h1 small, .post h2 small, .post h3 small, .post h4 small, .post h5 small, .post h6 small { font-size: 60%; color: #6f6f6f; line-height: 0; } 
    h1, .post h1 { font-size: 38px; } 
    .post h2 { font-size: 37px; } 
    .post h3 { font-size: 27px; } 
    .post h4 { font-size: 23px; } 
    .post h5 { font-size: 17px; } 
    .post h6 { font-size: 14px; } 
    .post code { font-weight: bold; background: #ffff99; } 
    
    /* Post - Lists ---------------------- */
    .post ul, .post ol, .post dl { font-size: 14px; line-height: 1.6; margin-bottom: 17px; list-style-position: outside; } 
    .post ul li ul, .post ul li ol { margin-right: 20px; margin-bottom: 0; } 
    .post ol { margin-right: 20px; } 
    .post ol li ul, .post ol li ol { margin-right: 20px; margin-bottom: 0; } 
    
    /* Post - Blockquotes ---------------------- */
    .post blockquote, .post blockquote p { line-height: 1.5; color: #6f6f6f; } 
    .post blockquote { margin: 0 0 17px; padding: 9px 19px 0 20px; border-right: 1px solid #ddd; } 
    .post blockquote cite { display: block; font-size: 13px; color: #555555; } 
    .post blockquote cite:before { content: "\2014 \0020"; } 
    .post blockquote cite a, .post blockquote cite a:visited { color: #555555; } 
    
    
    
    /* bump layout */
    .bump-layout .flex-container { padding: 100px 15px; } 
    .bump-layout .flex-inner { width: 100%; max-width: 860px; box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16); } 
    .bump-layout #container { z-index: 1; background: url(../images/body-bg.png); background-repeat: no-repeat; background-size: cover; background-position: center center; position: relative; } 
    .bump-layout #container:before { z-index: -1; content: ""; position: absolute; top: 0; right: 0px; width: 100%; height: 100%; background-color: rgba(49 ,27, 65 ,.7); } 
    @media screen and (max-width:767px){
    .bump-layout .flex-container { padding: 50px 15px; } 
    }
    /* box1 */
    .box1 { overflow: hidden; background-color: #560070; border-top-right-radius: 25px; border-top-left-radius:25px; } 
    .box1 .box-header { background-color: #560070; padding: 30px 50px 30px 50px; } 
    .box1 .box-header h1 { color: #ffffff; font-size: 30px; font-weight: 300; text-transform: uppercase; float: right;} 
    .box1 .box-body { background-color: #ffffff; padding: 40px 50px; border-top-right-radius: 25px; border-top-left-radius: 25px; } 
    .box1 h3 { color: #000927; font-size: 27px; font-weight: 700; line-height: 50px; margin-bottom: 33px; } 
    .box1 h4 { color: #000927; font-size: 20px; font-weight: 600; line-height: 27px; margin-bottom: 33px; } 
    @media screen and (max-width:992px){
    .box1 .box-header , .box1 .box-body { padding:35px 30px; } 
    .box1 .box-header h1 { font-size: 22px; } 
    }
    
    @media screen and (max-width:767px){
    .box1 .box-header , .box1 .box-body { padding:20px 15px; } 
    }
    
    .button3 { margin-bottom: 15px; background-color: #311b41; border-radius: 35px; width: 100%; display: inline-block; padding: 12px 15px; text-align: center; line-height: 35px; opacity: 1; } 
    .button3 .icon { display: inline-block; margin-left: 5px; vertical-align: middle; } 
    .button3 span { color: #ffffff; font-size: 18px; font-weight: 600; display: inline-block; vertical-align: middle; } 
    
    .button3-light { background-color: #560070; } 
    .button3-warning { background-color: #ffaa00; } 
    .button3-mute { background-color: #e3e3e3; } 
    .button3-danger { background-color: #d44f1f; } 
    .button3:hover { opacity:.7; } 
    .status .button3 { font-weight: 400; } 
    .status .button3 .icon { min-height: 39px; } 
    
    .tag-list { display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; margin-left: -6px; margin-right: -6px; } 
    .tag-list li { width: 100%; padding-left: 6px; padding-right: 6px; flex: 0 0 25%; max-width: 25%; margin-bottom: 20px; } 
    .tag-list li span { display: inline-block; text-align: center; width: 100%; background-color: #f5f5f5; border-radius: 30px; padding: 12px 10px; color: #000927; font-size: 13px; font-weight: 400; line-height: 20px; } 
    .tag-list li span:hover { background-color: #ccc; } 
    @media screen and (max-width:767px){
    .tag-list li { flex: 0 0 33.33%; max-width: 33.33%; margin-bottom: 20px; } 
    }
    .box1.order-box .box-body .row { margin-bottom: 50px; } 
    .box1.order-box .box-body .info-header .row { margin-bottom: 10px; } 
    .box1.order-box .tag .row { margin-bottom: 25px; } 
   
    /* order-confirmation */
    .bump-layout .order-confirmation .flex-inner { width: 100%; max-width: 1133px; box-shadow: 0 3px 6px rgb(0 0 0 / 16%); } 
    
    .info-body h6 { color: #311b41; font-size: 20px; font-weight: 600; line-height: 27px; text-align: right; } 
    .info-body p { color: #311b41; font-size: 20px; font-weight: 200; line-height: 27px; text-align: right;} 
    .td-addon{       padding-right: 40px;
        float: right;}
    /* table */
    @media screen and (max-width:1024px){
    .table { width: 973px; } 
    }
    .table td, .table th { border-top: 2px solid #ffffff; } 
    .table tr th { border: none; background-color: #311b41; color: #ffffff; font-size: 20px; font-weight: 600; line-height: 27px;text-align: right; } 
    .table tr th:first-child { border-top-right-radius: 11px; } 
    .table tr th:last-child { border-top-left-radius: 11px; text-align: left; } 
    
    .table tr td { color: #311b41; font-size: 20px; font-weight: 200; line-height: 27px; background-color: #f5f5f5; width: 25%;text-align: right; } 
    
    .table .inner-table { width: 100%; } 
    
    .table .inner-table td, .table .inner-table th { border-top:none; } 
    .table .total , .table .total td { background-color: #41184d; border-radius: 11px; } 
    .table .total, .table .total td { background-color: #41184d; border-radius: 11px; border-top: 13px solid #fff; } 
    .table .total td p { color: #ffffff; font-size: 24px; font-weight: 600; line-height: 50px; text-transform: uppercase; margin-bottom: 0; text-align: left;} 
    .table .total td { padding: 18px 33px; } 
    .table .total td p span { color: #ffffff; font-size: 36px; font-weight: 700; line-height: 1; text-transform: uppercase; display: inline-block; margin-right: 40px; } 
    @media screen and (max-width:767px){
    .table .total td p { font-size: 20px; } 
    .table .total td p span { font-size: 26px; margin-right: 30px; } 
    }
    .steps-wrapper { margin-top: 50px; margin-bottom: 60px; } 
    .steps-wrapper .step-list { display: flex; position: relative; justify-content: space-between; padding-top: 28px; } 
    .steps-wrapper .step-list:before { content: ""; border: 3px dashed #e3e3e3; height: 3px; width: 100%; position: absolute; top: 0px; right: 0; } 
    .steps-wrapper .step-list li { text-align: center; position: relative; padding-top: 3px; } 
    .steps-wrapper .step-list li:before { content: ""; width: 40px; height: 40px; background-color: #e3e3e3; display: inline-block; background-image: url(../images/checkbox.png); background-repeat:no-repeat; background-position:center center; border-radius: 50%; right: 50%; transform: translateX(50%); position: absolute; margin-top: -46px; } 
    .steps-wrapper .step-list .tracked:before { background-color: #00a716; } 
    .steps-wrapper .step-list li:first-child:before { right: 0; transform: none; } 
    .steps-wrapper .step-list li:last-child:before { left: 0; transform: none; } 
    .steps-wrapper .step-list li span { color: #311b41; font-size: 18px; font-weight: 300; line-height: 20px; } 
    @media screen and (max-width:767px){
    .steps-wrapper { margin-top: 40px; margin-bottom: 30px; } 
    .steps-wrapper .step-list li { padding: 0px 2px; } 
    .steps-wrapper .step-list li:before { width: 30px; height: 30px; margin-top: -42px; } 
    .steps-wrapper .step-list:before { border: 2px dashed #e3e3e3; height: 2px; } 
    .steps-wrapper .step-list li span { font-size: 14px; } 
    }
    
    
    
    .order-wrapper { padding-top:37px; padding-bottom:1px; background: url(../images/body-bg.png); min-height: 100vh; position: relative; z-index: 1; background-repeat: no-repeat; background-size: cover; background-position: center center; } 
    .order-wrapper:before { z-index: -1; content: ""; position: absolute; top: 0; right: 0px; width: 100%; height: 100%; background-color: rgba(150, 137, 159,.8); } 
    .order-wrapper .container-fluid { padding-right: 60px; padding-left: 60px; } 
    @media screen and (max-width:992px){
    .order-wrapper .container-fluid { padding-right: 15px; padding-left: 15px; } 
    }
    .order-box { border-radius: 20px 20px 4px 4px; overflow: hidden; margin-bottom: 60px; } 
    .order-box header { background-color: rgb(86, 0, 112); padding: 14px 29px; box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16); min-height: 105px; } 
    .order-box .info-box header { background-color: transparent; padding: 0; box-shadow: none; min-height: auto; } 
    .order-box header h3 { font-size: 20px; font-weight: 700; color: #ffffff; margin-bottom: 0; margin-bottom: 7px;float: right; } 
    .order-box .info-box header h3 { color:#311b41; } 
    .order-box header .top { display: block; width: 100%; margin-bottom: 8px; } 
    .order-box header .top h3 { display: inline-block; margin-left: 10px; top: 4px; position: relative; float: right;} 
    .order-box header p { font-size: 17px; color: #ffffff; font-weight: 300; margin-bottom: 0; } 
    .order-box header .status { color: #ffffff; font-size: 13px; font-weight: 400; line-height: 22px; text-align: center; display: inline-block; border: 2px solid #8828a5; border-radius: 18px; background-color: #560070; padding: 2px 14px; float: right; } 
    
    .order-box .order-details { background-color: #ffffff; padding: 12px 26px 30px 26px; margin-top: -15px; border-radius: 15px 15px 0 0;text-align: right; } 
    .order-box .order-details ul { margin-bottom: 0; } 
    .order-box .order-details ul li { padding-bottom: 23px; margin-bottom: 17px; color: #311b41; font-size: 20px; font-weight: 300; line-height: 18px; border-bottom: 1px solid rgba(97, 102, 120,.6); } 
    
    .order-box .order-details ul li span { margin-top: 14px; padding-right: 22px; font-weight: 600; display: block; margin-bottom: 8px; } 
    .order-box .order-details ul li ul { padding-right: 22px; } 
    .order-box .order-details ul li ul li { border-bottom: none; padding-bottom: 3px; margin-bottom: 5px; } 
    .order-box .order-details ul li:last-child { border-bottom: none; margin-bottom: 0; padding-bottom: 0; } 
    .order-box footer { background-color: #f5f5f5; padding: 14px 29px; } 
    .order-box footer a { color: #311b41; font-size: 18px; font-weight: 300; line-height: 18px; } 
    .order-box footer .btn { padding: 11px 17px; color: #ffffff; border-radius: 18px; line-height: 15px; font-size: 15px; font-weight: 400; line-height: 18px; text-align: center; background-color: #41184d; } 
    .timing { padding: 8px 10px; display: block; border-radius: 8px;  background-color: #ffffff; color: #ffaa00; font-size: 13px; white-space: nowrap; font-weight: 600; font-style: normal; letter-spacing: -0.15px; line-height: 18px; text-align: center;float: left!important; } 
    .order-box.box-warning header { background-color: #ffaa00; } 
    .order-box.box-warning header .status { border: 2px solid #ffffff; background-color: #ffaa00; } 
    
    .order-box.box-danger header { background-color: #d44f1f; } 
    .order-box.box-danger header .status { border: 2px solid #f78e68; background-color: #d44f1f; } 
    
    .order-box.box-success header { background-color: #00a716; } 
    .order-box.box-success header .status { border: 2px solid #63c870; background-color: #00a716; } 
    
    .search-orders { position: relative; margin-bottom: 52px; } 
    .search-orders input { width: 100%; box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16); border-radius: 5px; background-color: #ffffff; border: none; color: #000927; font-size: 18px; font-weight: 400; padding: 17px 55px!important;} 
    .search-orders button[type="submit"] { border: none; background-color: transparent; position: absolute; top: 50%; transform: translateY(-50%); left: 27px; font-size: 23px; } 
    .search-orders  #CloseIcon { border: none; background-color: transparent; position: absolute; top: 50%; transform: translateY(-50%); left: 55px; font-size: 23px; } 

    @media screen and (min-device-width: 1199px) and (max-device-width: 1900px){
    .order-wrapper .column { flex: 0 0 33.33%; max-width: 33.33%; } 
    }
    @media screen and (max-width:1600px){
    #main-navigation ul li a { padding: 7px 15px 14px 15px; font-size: 14px; } 
    }
    @media screen and (max-width:1400px){
    .order-wrapper .order-box .order-details { padding: 14px 15px; } 
    .order-wrapper .order-box footer { padding: 14px 15px; } 
    .order-box header h3 { font-size: 16px; margin-bottom: 3px; } 
    .order-box header .status { padding: 2px 6px; font-size: 11px; } 
    .order-box header p { font-size: 14px; } 
    .timing { padding: 10px 2px; font-size: 11px; line-height: 1; } 
    .order-box .order-details ul li { padding-bottom: 18px; margin-bottom: 14px; font-size: 16px; } 
    .order-box footer a { font-size: 16px; } 
    .order-box footer .btn { padding: 7px 10px 6px 10px; font-size: 14px; } 
    }
   
    @media screen and (max-width:767px){
    .form-wrapper { display: block; } 
    .full-height-layout, .full-height-layout body, .full-height-layout body #container { height: auto; } 
    }
   
    
    .inner-table h4 { background: #fff; margin: -12px -42px -12px -12px; padding: 12px 25px 12px 12px; } 
    .inner-table tr td:first-child { padding-right: 30px; } 
    .inner-table tr:last-child td { border-width: 5px; } 
    .table-responsive td.p-0 { border-bottom: 10px #fff solid; } 
   
    /* Unique CSS */
    @import url('https://fonts.googleapis.com/earlyaccess/notokufiarabic.css'); body { font-family: 'Noto Kufi Arabic' !important; } 
    .text-right { text-align: left!important; } 
    .ml-auto, .mx-auto { margin-right: auto!important; } 
    [type=email], [type=file], [type=number], [type=password], [type=tel], [type=url], code, samp, var { text-align: right; direction: rtl; } 
    .text-left { text-align: right!important; } 